
:root{
    --cor-de-fundo: #ffffff;
    --color-font-destaque: #FF9900;
    --color-font-paragrafo: #7D7987;
    --font-inter: 'Inter', sans-serif;
    --font-open-sans: 'Open Sans', sans-serif;
    
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-open-sans);
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

#img-principal{
    margin-bottom: 72px;
}

#hero{
    width: 592px;
    margin: 0 auto 72px;
}

h1{
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 49px;
    line-height: 56px;
    margin-bottom: 32px;
}

.titulo{
    font-weight: 700;
    color: var(--color-font-destaque);
}

.texto_destaque, a{
    color: var(--color-font-destaque);
}

p{
    color: var(--color-font-paragrafo);
}

strong{
    font-weight: 700;
}

footer a + a{
    margin-left: 28px;
}

footer{
    margin-bottom: 33px;
}

.line{
    width: 568px;
    height: 0;
    margin: 0 auto 8px;
    border: 1px solid #ECEFF2;
}

#balls{
    position: fixed;
    bottom: 0px;
    right: 0px;
}